{% extends "adminhome.html" %}
{% block content %}
<div class="container">
    <table class="table table-striped bg-warning">   
       <tr>
           <th>Product Name</th>
           <th>Price</th>
           <th>Brand</th>
           <th>Category</th>
           <th>Image</th>
           <th>Action</th>
        </tr>
        {% for product in products %}
    <tr>
        <td>{{product.Product_Name}}</td>
        <td>{{product.Product_Price}}</td>
        <td>{{product.Product_Brand}}</td>
        <td>{{product.Product_Category}}</td>
        <td><img src="{{product.Product_Image.url}}" style="width:60px;"></td>
        <td>
            <form action="{%url 'UpdateProduct' product.Product_Id %}">
            <button class="btn btn-warning">Update</button>

            </form>
            <a href="{%url 'DeleteProduct' product.Product_Id %}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>    
{% endblock %}