{% extends "index.html" %}
{% block content %}

<style>
    h1{
        text-align:center;
        top: 650px;
    }
   .itemcontainer{
      height: 300px;
      margin: auto;
      width: 90%;
      border: 2px solid blue;

  }
</style>
<h1>Product View</h1>
<div class="container">
  <div class="row">
    {% for item in product %}
      <div class="col-md-4">
        <div class="itemcontainer">
            <h3>{{item.Product_Name}}</h3>
            <h3>{{item.Product_Brand}}</h3>
            <h3>Price:{{item.Product_Price}}</h3>
            <h3>{{item.Product_Discription}}</h3>
          </div>
      </div>
      <div class="col-md-4">
         <div class="itemcontainer">
          <img src="{{item.Product_Image.url}}" style="width: 100%; height:50%;"alt="">
         </div>
      </div>
      <div class="col-md-4">
        <div class="itemcontainer1">
          <a href="{% url 'AddCart' item.Product_Id %}"class="btn btn-warning">Add To Cart </a>
        </div>
      </div>
      {% endfor%}
</div>
{% endblock %}